#!/bin/bash

#echo $JAVA_HOME
# the name of the project

PROJECT_NAME={{ service_name }}
SERVICE_USER={{ service_user }}
SPRINGBOOTAPP_HOME={{ service_deploy_folder }}
SPRINGBOOTAPP_JAR="$SPRINGBOOTAPP_HOME/$PROJECT_NAME.jar"


SPRINGBOOTAPP_JAVA=$(which java)


LOG="/applis/logs/12550-ipm00/$PROJECT_NAME.log"
LOCK="{{ app_folder }}/var/lock/subsys/$PROJECT_NAME"


[ -e "$LOG" ] && cnt=`wc -l "$LOG" | awk '{ print $1 }'` || cnt=1

echo -e $"Starting $PROJECT_NAME...... "
cd "$SPRINGBOOTAPP_HOME"

nohup $SPRINGBOOTAPP_JAVA  -Dlog4j.configuration=file:./config/log4j.properties -jar $SPRINGBOOTAPP_JAR >> $LOG 2>&1 &
touch "$LOCK"
